websource/App_WebReferences/SaasWebService/SaasWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetSaasData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="saasId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSaasDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetSaasDataResult" type="tns:SaasData" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="SaasData">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ProductsCount" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="PhotosCount" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="HaveExcel" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="Have1C" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="HaveExportFeeds" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="HavePriceRegulating" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="HaveBankIntegration" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="PaidTo" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="IsWork" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="IsValid" type="s:boolean" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetSaasDataSoapIn">
    <wsdl:part name="parameters" element="tns:GetSaasData" />
  </wsdl:message>
  <wsdl:message name="GetSaasDataSoapOut">
    <wsdl:part name="parameters" element="tns:GetSaasDataResponse" />
  </wsdl:message>
  <wsdl:portType name="SaasWebServiceSoap">
    <wsdl:operation name="GetSaasData">
      <wsdl:input message="tns:GetSaasDataSoapIn" />
      <wsdl:output message="tns:GetSaasDataSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SaasWebServiceSoap" type="tns:SaasWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetSaasData">
      <soap:operation soapAction="http://tempuri.org/GetSaasData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SaasWebServiceSoap12" type="tns:SaasWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetSaasData">
      <soap12:operation soapAction="http://tempuri.org/GetSaasData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SaasWebService">
    <wsdl:port name="SaasWebServiceSoap" binding="tns:SaasWebServiceSoap">
      <soap:address location="http://www.advantshop.net/SaasWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="SaasWebServiceSoap12" binding="tns:SaasWebServiceSoap12">
      <soap12:address location="http://www.advantshop.net/SaasWebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>